.personal {
  & h2, h3 {
    font-family: 'Montserrat-Medium';
  }
  .personal-area_name,
  .personal-area_bar {
    font-size: 1.1rem;
    border: 1px solid $grey;
    margin: -2px -1px;
    & a {
      color: $grey;
      font-size: 1.1rem;
      transition: background-color .3s ease,color .3s ease;
    }
    & i {
      font-size: 1.4rem;
    }
    & svg {
      width: 30px;
    }
  }

  .personal-area_bar-list.active,
  .personal-area_bar-list.active a {
    background: $grey;
    color: #fff !important;
    transition: background-color .3s ease,color .3s ease;
  }
  .personal-area_bar-list:hover,
  .personal-area_bar-list:hover a{
    background: $grey;
    color: #fff !important;
    transition: background-color .3s ease,color .3s ease;
  }

  .personal-content {

  }
}
.img-profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  &_small {
    width: 25px;
    height: 25px;
  }
}
#profile-user {
  font-size: 1rem;
}